.expanding-panel {
  border-top: 1px solid $border-colour;
  &:last-child {
    border-bottom: 1px solid $border-colour;
  }

  header {
    padding: $govuk-gutter-half;
    position: relative;
    cursor: pointer;
    margin: 0;
    &:hover {
      background: $highlight-colour;
    }

    h3 {
      margin: 0;
      &:after {
        content: "";
        display: block;
        position: absolute;
        top: $govuk-gutter-half;
        right: $govuk-gutter-half;
        width: 16px;
        height: 16px;
        margin-top: 4px;
        background: $plus-minus no-repeat bottom left;
      }
    }
  }

  &.open {
    h3:after {
      background: $plus-minus no-repeat top left;
    }
  }

  .content {
    padding: $govuk-gutter-half;

    h2:first-child {
      margin-top:0;
    }
  }
}

.accordion {
  .toggles {
    margin: 0;
    text-align: right;
    button {
      background: none;
      border: none;
      color: $link-colour;
      font-size: 16px;
      cursor: pointer;
    }
  }
}
