.table-heading {
  display: flex;
  justify-content: space-between;

  h2 {
    margin-top: 0
  }

  a {
    margin-left: $gutter;
  }
}

.govuk-react-datatable {
  th[aria-sort] {

    a {
      display: block;
      position: relative;
      padding-right: 1em;

      &:before, &:after {
        position: absolute;
        right: 0;
        font-size: 0.75em;
      }

      &:before {
        content: "\25b2";
        top: -0.2em;
      }

      &:after {
        content: "\25bc";
        bottom: -0.2em;
      }
    }


    &[aria-sort="none"] a {
      &:before, &:after {
        color: #ccc;
      }
    }

    &[aria-sort="descending"] a:after {
      color: #ccc;
    }

    &[aria-sort="ascending"] a:before {
      color: #ccc;
    }
  }

  td {
    .notice {
      display: block;
      white-space: nowrap;
      @include copy-16;

      color: $green;

      &.warning {
        color: $orange;
      }
      &.urgent {
        color: $error-colour;
      }
    }
  }

  tr.expandable {
    cursor: pointer;

    td:first-child {
      &:before {
        @extend .link;
        text-decoration: none;
        font-size: 0.75em;
        margin-right: 1em;
        content: "\25ba";
      }
    }

    &.expanded {
      background-color: $highlight-colour;

      td {
        border-bottom: none;

        &:first-child:before {
          content: "\25bc";
        }
      }
    }
  }

  tr.expanded-content {
    cursor: pointer;
    background-color: $highlight-colour;

    .column-one-quarter {
      border-right: 1px solid #ccc;
    }

    a {
      display: block;
      margin-left: $gutter;
      margin-bottom: 0.5em;
    }

    dl {
      margin-left: $gutter-half;
    }
  }
}
