.table-heading {
  display: flex;
  justify-content: space-between;

  h2 {
    margin-top: 0
  }

  a {
    margin-left: $gutter;
  }
}

.govuk-react-datatable {
  th[aria-sort] {

    a {
      display: block;
      position: relative;
      padding-right: 1em;

      &:before, &:after {
        position: absolute;
        right: 0;
        font-size: 0.75em;
      }

      &:before {
        content: "\25b2";
        top: -0.2em;
      }

      &:after {
        content: "\25bc";
        bottom: -0.2em;
      }

      &.disabled {
        pointer-events: none;
        cursor: default;
      }
    }


    &[aria-sort="none"] a {
      &:before, &:after {
        color: $grey-2;
      }
    }

    &[aria-sort="descending"] a:after {
      color: #ccc;
    }

    &[aria-sort="ascending"] a:before {
      color: #ccc;
    }
  }

  td {
    .notice {
      display: block;
      white-space: nowrap;
      @include copy-16;

      &.urgent {
        color: $error-colour;
      }
    }
  }

  tr.expandable {
    cursor: pointer;

    td:first-child {
      &:before {
        @extend .link;
        text-decoration: none;
        font-size: 0.75em;
        margin-right: 1em;
        content: "\25ba";
      }
    }

    &.expanded {
      background-color: $highlight-colour;

      td {
        border-bottom: none;

        &:first-child:before {
          content: "\25bc";
        }
      }
    }
  }

  tr.expanded-content {
    cursor: pointer;
    background-color: $highlight-colour;

    .column-one-quarter {
      border-right: 1px solid #ccc;
    }

    .column-two-thirds {
      margin-left: $gutter-half;

      h3 {
        margin-top: 0;
      }

      ul {
        list-style-type: disc;
        list-style-position: inside;
      }
    }

    a {
      display: block;
      margin-left: $gutter;
      margin-bottom: 0.5em;
    }
  }
}

.pagination .pagination_list-items {

  li {
    display: inline-block;
    a {
      @extend .bold-small;
      color: $govuk-blue;
      display: inline-block;
      padding: 15px 5px 10px 5px;
      margin-right: 15px;
      text-decoration: none;

      &:focus {
        outline: 0;
      }
    }
    &.active a,
    &.active a:hover {
      color: $govuk-blue;
      -webkit-box-shadow: inset 0px -5px 0px 0px $govuk-blue;
      -moz-box-shadow: inset 0px -5px 0px 0px $govuk-blue;
      box-shadow: inset 0px -5px 0px 0px $govuk-blue;
    }
  }
}

.padding {
  padding-left: 15px;
}

.pagination {
  padding: 0;
}
.pagination-item {
  display: inline-block;
  list-style: none;
}
.pagination-link {
  display: block;
  padding: 5px 10px;
  text-decoration: none;

  &:hover, &:focus {
    background: $highlight-colour;
    outline: 3px solid $focus-colour;
  }

  &.current {
    color: $text-colour;
    font-weight: 700;
    border: none;
    pointer-events: none;
    cursor: default;

    &:hover, &:focus {
      color: $text-colour;
      background: none;
    }
  }

  &.current.next, &.current.prev {
    font-weight: 400;
    color: $grey-1;
  }
}

.pagination-summary {
  padding: 8px 0;

  @media (min-width: 642px) {
    float: right;
  }
}
