.filters-component {
  margin-bottom: $govuk-gutter;

  .toggle-filter-link {
    @extend .govuk-\!-font-size-24;

    &:before {
      color: govuk-colour("blue");
      font-size: 0.75em;
      margin-right: $govuk-gutter / 4;
      content: "\25bc";
    }

    &.filters-hidden:before {
      content: "\25ba";
    }
  }
}

.link-filter {
  margin-bottom: $govuk-gutter;
}
