.search-box {
  margin-bottom: 0;

  input {
    width: 100%;
    border-right: none;
    box-sizing: border-box;
  }
  button {
    height:33px;
    width:33px;
    margin-right: -33px;
    padding: 5px 0 4px;
    border: none;
    background: govuk-colour("blue") $search-icon no-repeat left center;
    cursor: pointer;

    @include govuk-media-query($from: tablet) {
      height:38px;
      width:38px;
      margin-right: -38px;
    }
  }
}
