.wrapper-header .content {
  @include govuk-grid-row;

  > nav {
    @include govuk-grid-column(two-thirds)
  }

  > .status-bar {
    @include govuk-grid-column(one-third);
    padding-left: 0;
    text-align: right;

    span:first-child {
      margin-right: $govuk-gutter / 4;
    }

    span:nth-child(2) {
      margin-left: $govuk-gutter / 4;
    }

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
