.header-proposition .content {
  @extend .grid-row;

  > nav {
    @extend .column-two-thirds;
  }

  > .status-bar {
    @extend .column-one-third;
    padding-left: 0;

    margin-top: $govuk-gutter / 4;
    text-align: right;
    color: white;

    span:first-child {
      margin-right: $govuk-gutter / 4;
    }

    span:nth-child(2) {
      margin-left: $govuk-gutter / 4;
    }

    a {
      color: white;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
