@import 'ho-frontend-toolkit';
@import '@ukhomeoffice/react-components';
@import '@asl/components';

.profile-section {
  border-top: 1px solid #333;
  padding-top: $govuk-gutter;
  padding-bottom: $govuk-gutter;

  &:last-child {
    padding-bottom: 0;
  }
}

.applicant {
  margin-bottom: $govuk-gutter * 2;
}

.task-decision {
  border-bottom: 1px solid govuk-colour('grey-2');
  margin-bottom: $govuk-gutter;
  .action {
    float: right;
  }
}

.task-declaration {
  margin-bottom: $govuk-gutter;
}

.section-navigation {
  list-style-type: decimal;

  li {
    margin-bottom: $govuk-gutter-half;
    padding: 10px 15px;
    color: $blue;

    a {
      display: inline-block;
      text-decoration: none;
      color: $blue;
    }

    &.active {
      background-color: $blue;
      color: $white;
      font-weight: bold;

      a {
        color: $white;
      }
    }
  }
}

.task-activity {
  list-style: none;
  padding-left: 0;

  li {
    &:not(:last-child) {
      border-bottom: 1px solid govuk-colour('grey-2');
    }

    .comment {
      font-weight: bold;
    }

    .badge {
      float: right;
    }
  }
}

.badge {
  padding: 3px 6px;
  background: #999;
  color: white;
  text-transform: uppercase;
  font-weight: bold;

  &.complete {
    background: $blue;
  }
  &.rejected {
    background: $govuk-error-colour;
  }
}

.panel-list li {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

p.control-panel {
  margin-top: 2*$govuk-gutter;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .govuk-button {
    margin-bottom: 0;
  }

  > * {
    margin-right: 1em;
  }
}

.species-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
