@import "default";
@import "@ukhomeoffice/asl-components";

@import "status-bar";

.data {
  padding: $gutter;
  background: $govuk-blue;
  color: white;
  a {
    color: white;
    text-decoration: none;
  }
}

details {
  margin-top: 2*$gutter;
}

.code {
  background: #eee;
  border: #ccc;
  padding: 1em;
  font-family: monospace;
}

dl {
  margin-bottom: $gutter;
  dt {
    font-weight: bold;
  }
  dd {
    margin-bottom: $gutter/2;
    white-space: pre-line;
  }
}

.headline {
  margin-top: 0;
}

th {
  white-space: nowrap;
}

.control-bar {
  > * {
    vertical-align: middle;
    margin-right: 1em;
  }
}

.main {

  header {

    h1, h2 {
      margin: 0;
    }

    h1 {
      margin-bottom: $gutter;
    }

    h2 {
      margin-bottom: $gutter/4;
      font-weight: normal;
    }
  }

  ul.dashboard {
    list-style: none;
    padding-left: 0;
    li {
      background: $highlight-colour;
      @extend .heading-medium;
      margin-top: 0;

      a {
        display: block;
        padding: $gutter-half $gutter;
      }
    }
  }

  .establishment-summary, .profile {
    aside {
      border-top: 6px solid $govuk-blue;
      padding-top: $gutter-half;
      box-sizing: border-box;
    }
  }

  .profile {
    .profile-section {
      border-top: 1px solid $grey-2;
      margin-top: $gutter-half;

      h3 {
        @extend h2;
        margin-top: $gutter;
        font-weight: normal;
      }
    }

    dl {
      @extend .grid-row;

      dt, dd {
        @extend .column-one-half;
        font-weight: normal;
      }
    }

    .accordion {
      margin-top: $gutter;
    }
  }
}
