@import "../../../../ui/assets/default.scss";
@import "@ukhomeoffice/asl-components";

.status-bar {
  color: white;
  font-weight: bold;

  a {
    color: white;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  span:not(:first-child) {
    margin-left: $gutter-half;
  }
}

.data {
  padding: $gutter;
  background: $govuk-blue;
  color: white;
  a {
    color: white;
    text-decoration: none;
  }
}

details {
  margin-top: 2*$gutter;
}

.code {
  background: #eee;
  border: #ccc;
  padding: 1em;
  font-family: monospace;
}

dl {
  margin-bottom: $gutter;
  dt {
    font-weight: bold;
  }
  dd {
    margin-bottom: $gutter/2;
    white-space: pre-line;
  }
}

.headline {
  margin-top: 0;
}

table {
  table-layout: fixed;
}
th {
  white-space: nowrap;
}
th:first-child, th:nth-child(2), th:nth-child(3) {
  width:25%;
}

.control-bar {
  > * {
    vertical-align: middle;
    margin-right: 1em;
  }
}

.main {

  header {

    h1, h2 {
      margin: 0;
    }

    h1 {
      margin-bottom: $gutter;
    }

    h2 {
      margin-bottom: $gutter/4;
      font-weight: normal;
    }
  }

  ul.dashboard {
    list-style: none;
    padding-left: 0;
    li {
      background: $highlight-colour;
      @extend .heading-medium;
      margin-top: 0;

      a {
        display: block;
        padding: $gutter-half $gutter;
      }
    }
  }

  .establishment-summary {
    aside {
      border-top: 2px solid $govuk-blue;
      padding-top: $gutter-half;
    }
  }
}
