@import 'base';
@import 'images';

@mixin tab {
  font-size: 24px;
  background-color: $dark-grey;
  color: white;
  display: inline-block;
  font-weight: normal;
  padding: 3px 15px;
  margin-bottom: 0;
}

.logo {
  background-image: $logo;
  background-size: auto 100%;
  background-repeat: no-repeat;
  width: auto;
  height: 65px;
  margin-bottom: $govuk-gutter * 2;
}

.granted-section {
  page-break-inside: avoid;
}

h1.project-title {
  font-size: 35px;
  font-weight: normal;
  margin-bottom: $govuk-gutter * 2;
}

.review {
  .grey {
    display: none;
  }
}

.hint {
  display: none;
}

.protocol-content .expanding-panel header h3 {
  display: none;
}

.licence-holder {
  font-weight: bold;
  text-transform: uppercase;
}

.purple-inset, .condition {
  border-left: 4px solid $purple;
  padding-left: 10px;
}

h2.subtitle {
  font-weight: normal;
  margin-left: 15px;
}

h3.licence {
  font-size: 23px;
  text-transform: uppercase;
  margin-bottom: 60px;
}

hr {
  display: none;
}

dl dt {
  float: left;
  margin: 0;
  padding: 0;
}

dt {
  clear: left;
}

dl dd {
  font-weight: bold;
  text-indent: 5px;
}

.section:not(.legacy-pdf .section) {
  page-break-after: always;
}

.section.protocols {
  page-break-before: always;
}

.conditions h2 {
  font-size: 15px !important;
}

.granted-page.action-plan {
  > h3:first-of-type {
    display: none;
  }

  .objective-review {
    h3 {
      display: none;
    }

    h2 {
      @extend h3;
      display: block;
    }
  }
}

.protocol {
  .protocol-purpose h3,
  .locations h3 {
    @extend h2;
  }

  h2.group {
    display: none;
  }
}

.summary-table {

  > h3 {
    @include tab;
  }

  table {
    width: 100%;
    border-collapse: collapse;

    thead {
      display: table-header-group;

      th {
        background-color: $mid-grey;
        text-align: left;
        vertical-align: top;
      }
    }


    th, td {
      padding: 20px 15px;
      border: 2px solid $mid-grey;
    }
  }
}

.protocol {
  page-break-after: always;
  page-break-before: always;

  .field {
    page-break-during: avoid;
  }

  .protocol-number {
    @include tab;
  }

  .protocol-panel {
    background-color: $light-grey;
    padding: 5px;
    border: 1px solid $dark-grey;

    h2 {
      font-weight: normal;
      margin: 10px 0 0 10px;
    }

    > p {
      margin-left: 10px;
      margin-top: 0;
    }

    table {
      background-color: white;
      width: 100%;
      border:none;
      border-collapse: collapse;

      td, th {
        border-left: 3px solid $light-grey;
        border-right: 3px solid $light-grey;
        padding: 5px 10px;


        &:first-child {
          border-left: none;
        }

        &:last-child {
          border-right: none;
        }
      }

      th {
        text-align: left;
        padding-top: 20px;
      }

      tr:last-child td {
        padding-bottom: 20px;
      }
    }
  }

  .protocol-content {
    h2 {
      font-size: 24px;
      margin-top: 40px;
      margin-bottom: 0px;
    }

    .granted-steps {
      h2.step-number {
        @include tab;
        background-color: $dark-purple;
        font-size: 15px;
        font-weight: bold;
      }

      .header {
        .review {
          border: 1px solid $dark-purple;
          background-color: $lighter-grey;
          padding: 0 15px;
        }
      }
    }
  }

  p.end {
    text-align: center;
    font-weight: bold;
  }
}

.anaesthetic-codes {
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
}

.standard-conditions {
  > ol {
    padding-left: 1.2em;

    ol {
      counter-reset: list;

      > li {
        list-style: none;
        position: relative;

        &:before {
          counter-increment: list;
          content: "(" counter(list, lower-alpha) ") ";
          position: absolute;
          left: -1.4em;
        }
      }
    }
  }
}
