$font-family: Helvetica, Arial, sans-serif;

//colours
$purple: #8F23B3;
$text: #222222;
$lighter-grey: #F2F2F2;
$light-grey: #DEE0E2;
$dark-grey: #6F777B;
$mid-grey: #BFC1C3;
$dark-purple: #4C2C92;
$blue: #005ea5;

//spacing
$govuk-gutter: 30px;
$govuk-gutter-half: 15px;



//typography

@mixin h1 {
  font-size: 35px;
}
@mixin h2 {
  font-size: 28px;
}
@mixin h3 {
  font-size: 16px;
}
@mixin h4 {
  font-size: 16px;
}

h1 {
  @include h1;
}

h2 {
  @include h2;
}

h3 {
  @include h3;
}

h4 {
  @include h4;
}

.editor {
  h1 {
    font-size: 18px;
  }
  h2 {
    font-size: 16px;
  }
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.align-center {
  text-align: center;
}

body {
  -webkit-print-color-adjust: exact;
  font-family: $font-family;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  line-height: 1.2;
  color: $text;
}

table {
  width: 100%;
  border-collapse: collapse;

  th {
    padding: 10px 0;
    text-align: left;
    font-weight: bold;
  }

  td {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 10px 0;
    text-align: left;
  }

  tr:last-of-type {
    td {
      border-bottom: none;
    }
  }
}
