@import 'base';

.pdf-header {
  font-family: Helvetica, Arial, sans-serif;
  border-bottom: 1px solid black;
  width: 100%;
  font-size: 10px;
  margin-left: 25px;
  margin-right: 25px;

  .licence-status-banner {
    color: white;
    background-color: black;
    padding: 5px 10px;
    text-align: center;

    header {
      margin: 0;
      padding: 0;
    }

    .toggle-switch {
      display: none;
    }

    .status {
      margin: 0;
      text-transform: uppercase;
      font-weight: normal;
      font-size: 18px;
    }

    .status-details p {
      margin: 0;
      padding: 0;
      font-size: 12px;
    }
  }
}
